nav{
    background-color: hsl(116, 82%, 44%);
    color: white;
    padding: 10px;
}
nav ul{
    list-style-type: none;
    margin: 5;
    padding: 5;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
nav ul li a{
    color: hsl(63, 100%, 53%);
    text-decoration: nane;
}
nav ul li a:haver {
    text-decoration: underline;
}
section{
    padding: 20px;
}
footer{
    background-color: aquamarine;
    color: #f20ec1;
    text-align: center;
    padding: 10px 0;
}